<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Apple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Foursquare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FoursquareTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Google.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E95B747417247F4B00E9D60D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E95B74AC17247F7000E9D60D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E95B74E41724822A00E9D60D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E95B751C1724825900E9D60D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9DA005616FA3B4F00A76D42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9DA007F16FA3B5000A76D42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
